# IDE
.idea/
*.iml
.classpath
.project
.settings/

# Build
target/
*.class

# Config (包含敏感信息)
**/application.yml
**/application-*.yml
**/application.yaml
**/application-*.yaml

# OS
.DS_Store
**/.DS_Store

# Log
logs/
**/logs/
**/logs/**